* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}
.block {
    width: 25%;
    height: 200px;
    float: left;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
@media (max-width: 680px) {
    h1 {
        font-size: 24px;
    }
}
@media (max-width:450px) {
    .block {
        width: 50%;
    }
}